* {
    margin: none;
    padding: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    background-color: #ffff8d;
    box-shadow: 0 10px 10px 5px grey;
    width: 280px;
}

.card__titulo{
    font-weight: bold;
    padding: 1em 1em 0 1em;
}
.card__content{
    /*margin-top: 1em;*/
    padding: 1em;
}
.card__botoes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1em 1em 0;
}
.card__botoes i{
    margin-left: 5px; 
}